<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><span>WhatsApp CRM</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item cta">
          <a routerLink="/login" class="nav-link" routerLinkActive="active">
            <span class="icon-user"></span> Login
          </a>
        </li>
        <li class="nav-item cta cta-colored"><a href="##" class="nav-link">
            <span class="icon-pencil"></span> Sign-Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->