<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><span>WhatsApp CRM</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item cta">
          <a routerLink="/login" class="nav-link">
            <span class="icon-user"></span> Login
          </a>
        </li>
        <li class="nav-item cta cta-colored"><a href="##" class="nav-link">
            <span class="icon-pencil"></span> Sign-Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<section class="home-slider owl-carousel" #owlCarousel>
    <div class="slider-item" style="background-image:url(../assets/images/bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
        <div class="col-md-6 text p-4 ftco-animate">
          <h1 class="mb-3">Manage your Contacts and Accounts</h1>
          <p>Now manage the accounts and contacts in Salesforce.</p>
          <a href="#" class="btn-custom p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
        </div>
      </div>
      </div>
    </div>
    
    <div class="slider-item" style="background-image:url(../assets/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
        <div class="col-md-6 text p-4 ftco-animate">
          <h1 class="mb-3">Manage Leads using WhatsApp</h1>
          <!-- <span class="location d-block mb-3"><i class="icon-my_location"></i> Melbourne, Vic 3004</span> -->
          <p>Now manage leads by chatting through WhatsApp! It's that simple.</p>
          <p>Simply register your number and we will control your leads by our own intelligence.</p>
          <a href="#" class="btn-custom p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
        </div>
      </div>
      </div>
    </div>
  </section>